
@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Lato&family=Montserrat:wght@500&family=Open+Sans:wght@300&family=Oswald:wght@500&display=swap');

.page-wrapper {
    display: grid;
    grid-template-columns: 20% 50% 20%;
    height: auto;
}

body {
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    font-family: 'Lato', sans-serif;

}

.intro {
    margin: 10px 20px 10px 10px;
    border: #f69d3c 4px solid;
    padding: 7px;
    padding-left: 10px;
    height: fit-content;
    border-radius: 6px;
}

.intro a {
    color: red;
    opacity: .5;
}

.intro a:hover {
    background: linear-gradient(0.25turn, #ebf8e1, #f69d3c);
    color: black;
}

.intro h3 {
    border: #ebf8e1 4px solid;
    border-left-color: #f69d3c;
    border-right-color: #3f87a6;
    border-radius: 20px;
}

[role="article"] {
    margin-top: 30px;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 30px;
}

h2 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 20px;
}

h3 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 18px;
    border: #ebf8e1 2px solid;
    padding: 5px;
}

#zen-supporting {
    border: #ebf8e1 4px solid;
    border-left-color: #f69d3c;
    border-right-color: #3f87a6;
    margin-top: 10px;
    border-radius: 6px;
    padding: 7px;

}

#zen-supporting h3 {
    margin-left: 200px;
    margin-right: 200px;
    border: #ebf8e1 4px solid;
    border-left-color: #f69d3c;
    border-right-color: #3f87a6;
    border-radius: 20px;
}

#zen-supporting a:hover {
    background: linear-gradient(0.25turn, #f69d3c, #ebf8e1, #3f87a6);
}

#zen-supporting a {
    color: red;
    opacity: .5;
}

